.tarjetaProducto{
    width: 300px;
    margin: 20px;
    border-radius: 20%;
    border-width: 5px;
    border-style: solid;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
.item {
    flex: 50%;
}

#imgProducto {
    width: 250px;
    height: 250px;
}

#searchBar{
    text-align: center;
    margin: 20px 0px 0px 0px;
}