<h1>Contáctanos</h1>
<div class="container" class="contenido">
    <form>
      <!-- <label for="name">Dejamos tu nombre y apellidos:</label><br /> -->
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Escribe aquí tu nombre"
      /><br />
      <!-- <label for="email">A qué e-mail te escribimos:</label> --><br />
      <input
        id="email"
        name="email"
        type="text"
        placeholder="Escribe aquí tu correo de contacto"
      /><br />
      <!-- <label for="message">Cuéntanos lo que quieras:</label> --><br />
      <textarea id="message" name="message" rows="7" cols="30" placeholder="Cuéntanos lo que quieras..."></textarea><br />
      <input id="btn_enviar" type="submit" value="Enviar" (click)="enviado()"/>
    </form>
  </div>