#checkoutForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#checkoutForm div {
    margin: 10px;
    padding: 5px;
}

form {
    margin: 0.75em;
    padding: 0.75em;
    display: inline-block;
    text-align: center;
}

table {
    max-width: 500px;
    margin: 0px;
    padding: 0px;
}

tr,
td,
th {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;
    /* width: 100px; */
}

.prod_name {
    text-align: justify;
}

.resumen_compra {
    color: grey;
}

#checkoutButton, #cancelButton {
    margin: 0px 5px 0px 0px;
    background-color: bisque;
    border-style: none;
    border-width: 5px;
    color: grey;
    height: 2.5rem;
    width: 6rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
}

#checkoutButton{
    width: 12rem;
}

#checkoutButton:hover {
    background-color: aliceblue;
}

#cancelButton:hover {
    background-color: aliceblue;
}

h2, .precio_total {
    color: grey;
}