<div  id="checkoutForm">
    
    <h2>Resumen de tu pedido:</h2>

    <div>
        <table id="checkoutCart">
            <tr class="resumen_compra">
                <th>Producto</th>
                <th>Precio (unidad)</th>
                <th>Cantidad</th>
            </tr>
            <tr *ngFor="let prod of productosCarrito">
                <td class="prod_name">{{prod.nombre}}</td>
                <td>{{prod.precio}}€</td>
                <td>{{prod.cantidad}} </td>
            </tr>
            <tr>
                <th colspan="4" class="precio_total">Total: {{totalPrice}}€</th>
            </tr>
        </table>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div>
            <input type='text' name="apellidos" placeholder="Nombre" />
        </div>
        <div>
            <input type='text' name="apellidos" placeholder="Apellidos" />
        </div>
        <div>
            <input type='text' name="direccion"  placeholder="Direccion" />
        </div>
        <div>
            <input type='text' name="telefono" placeholder="Telefono" />
        </div>
        <div>
            <input type='text' name="email" placeholder="Email" />
        </div>
        <input type="reset" value="Cancelar" id="cancelButton" (click)="returnHome()" />
        <input type="submit" value="Confirm & checkout" id="checkoutButton" (click)="confirmarPedido()" />
    </form>

</div>