<div class="sugerencias">
    <div *ngFor="let producto of productosSugeridos">
        <div class="tarjetaProducto center">
            <div class="item">
                <h2>{{producto.nombre}}</h2>
                <div>
                    Identificador: {{producto.id}}
                </div>

                <div>
                    Seccion: {{producto.seccion}}
                </div>

                <div>
                    Precio: {{producto.precio}}
                </div>

            </div>

            <button id="addProduct" (click)="addProducto(producto)" style="margin-top:20px; margin-bottom:10px;">Añadir
                producto</button>
        </div>

    </div>
</div>