.shoppingCart{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
}
#shoppingCart{
    max-width: 500px;
    margin: 20px;
}
/* caption {
    background-color: rgb(37, 0, 247);
    color: yellow;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
 } */
 #shoppingCart tr:first-child, #shoppingCart tr:nth-child(2){
     background-color: bisque;
     color: white;
     font-weight: bold;
     text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
 }


tr, td, th {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;
} 

#placeOrder{
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px;
}