div[class="container row"]{
    display:flex; 
    text-align: center; 
    margin-top: 50px;
    margin-left: 15%;
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info1_container:hover {
    background-color:aquamarine;
    transform: scale(1.05);
}

#info2_container:hover {
    background-color:coral;
    transform: scale(1.05);
}

#info3_container:hover {
    background-color:darkgoldenrod;
    transform: scale(1.05);
}

hr {
    border:none;
    border-top:4px dotted #f00; 
    color:#fff;
    background-color:#fff;
    height:5px;
    width:40%;
    margin-top: 4%;
  }
