<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container row" id='info1_container'>
     <div class="col-md-7 center">
        <img  style="border-radius: 50%; height: 80%;" src="assets/bollosImage.jpg" alt="No hay">
    </div>


    <div class="col-md-5 center">
        Selecciona tu propio bollo y Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis harum porro velit a totam reprehenderit perferendis debitis minima voluptatum, vitae qui natus aliquid inventore aliquam repellendus in mollitia similique.
    </div>

</div>


<div class="container row"  id="info2_container">

    <div class="col-md-5 center">
        Haces algo mas y Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis harum porro velit a totam reprehenderit perferendis debitis minima voluptatum, vitae qui natus aliquid inventore aliquam repellendus in mollitia similique.
    </div>

    <div class="col-md-7 center">
        <img  style="border-radius: 50%; height: 80%;" src="assets/bollosImage.jpg" alt="No hay">
    </div>

</div>


<div class="container row" id='info3_container'>
    <div class="col-md-7 center">
        <img  style="border-radius: 50%; height: 80%;" src="assets/bollosImage.jpg" alt="No hay">
    </div>

    <div class="col-md-5 center">
        Bla bla bla y Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis harum porro velit a totam reprehenderit perferendis debitis minima voluptatum, vitae qui natus aliquid inventore aliquam repellendus in mollitia similique.
    </div> 
</div>


