<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container row" id='info1_container'>
     <div class="col-md-7 center">
        <img  style="border-radius: 50%; height: 80%;" src="assets/bollosImage.jpg" alt="No hay">
    </div>


    <div class="col-md-5 center">

        <div style="max-width: 400px">
            <h2>Compra online</h2>

            Recibe tu pedido en casa o recojelo en el establecimeinto mas cercano.
        </div>
        
    </div>

</div>


<div class="container row"  id="info2_container">

    <div class="col-md-5 center">
        <div style="max-width: 400px">
            <h2>Excelente trato al cliente</h2>

            Orgullosos propietarios del titulo al mejor establecimeinto en 1998.
        </div>
    </div>

    <div class="col-md-7 center">
        <img  style="border-radius: 50%; height: 80%;" src="assets/bollosImage.jpg" alt="No hay">
    </div>

</div>

<div class="center">
    <hr>
</div>




