div[class="container row"]{
    display:flex; 
    text-align: center; 
    margin-top: 50px;
    margin-left: 15%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info1_container:hover {
    background-color:aquamarine;
}

#info2_container:hover {
    background-color:coral;
}

#info3_container:hover {
    background-color:darkgoldenrod;
}