<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container" style="background-color: #ffe4c4;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="#" > <app-header></app-header> </a>
    
      <div style="margin-left: 5%; display: flex" class="container" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" routerLink="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>

        <div class="container text-right">
            <form class="form-inline my-2 my-lg-0" style="display: flex">
              <input style="width: 70%;" class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" style="margin-left: 5%" type="submit">Search</button>
            </form>
        </div>

        <div class="container text-right" style="display: flex; margin-left: 30%" >

          <!--
              <a class="nav-link" routerLink="login" >
                  
              </a>
          -->
            <div>
              <button class="btn"><img src="assets\user.png" alt="" style="width: 30px"></button> <br>
              <select style="width: 30px; height: 10px;" name="demo" id="#">
                <option disabled selected="selected" value="default"></option>
                <option value="one">Option 1</option>
                <option value="two">Option 2</option>
                <option value="three">Option 3</option>
              </select>
            </div>
          
            
            
            <a class="nav-link" routerLink="carrito" >
              <button class="btn " style="margin-left: 5%" ><img src="assets\carrito.png" alt="" style="width: 30px"></button>
            </a>
            
        </div>
        
      </div>
    </nav>
</div>


