<h1>Log-in</h1>
<div class="container">
    <form action="">
        <!-- //ngSubmit="funcion componente login" -->
        <fieldset class="contenido">
            <input type="text" id="userId" name="usuario" placeholder="Usuario o email" />
            <br />
            <input type="password" name="password" id="userPw" placeholder="Contraseña" />
        </fieldset>
    </form>

    <div class="contenido">
        <input class="btn_login" type="submit" value="Iniciar" (click)="iniciarSesion()">
    </div>

    <p>No tienes cuenta? <a routerLink="registro">Regístrate aquí</a></p>
</div>