h1 {
    text-align: center;
    padding: 2rem;
    color: grey;
}

#userId, #userPw, #firstName, #lastName, #mail, #street, #city, #province, #country, #id, #phoneNumber, #password, #passwordValidation{
    width: 22rem;
    height: 2.5rem;
    border-color: bisque;
    border-width: 2px;
    border-style: solid;
}

.contenido {
    display: grid;
    height: 100%;
    justify-items: center;
    padding: 20px;
}

p{
    text-align: center;
    color: grey;
}

a {
    color: grey;
    text-align: center;
    text-decoration: underline;
}

a:hover {
    color: bisque;
}

/* 
label {
    padding: 1em;
    font-size: large;
} */

.btn_login {
    height: 2.5rem;
    width: 22rem;
    background-color: bisque;
    border-style: none;
    border-width: 5px;
    border-radius: 10px;
    color: grey;
    font-weight: bold;
}

#btn_registro {
    margin-top: 20px;
}

.btn_login:hover {
    background-color: aliceblue;
}

.btn_enlace {
    border-style: none;
    text-decoration: underline;
    background-color: white;
    color: grey;
}

.btn_enlace:hover {
    color: black;
}

.container {
    margin-top: 1rem;
}